{% extends "base.html" %}
{% block title %}{% block head_title %}{% endblock head_title %}{% endblock title %}

{% block inner %} {% endblock inner%}

{% block content %}
<div class="base-content">
    <h1 class="form-header">{% block form_header %} {% endblock form_header %}</h1>
    <p class="form-message">{% block form_message %}{% endblock form_message %}</p>
    <div class="form-container"> 
    {% block form %}{% endblock form %}
    {% block actions%} {% endblock actions %}
    </div> 
    {% block footer_message %}
    {% endblock footer_message %}
</div>
{% endblock content %}
