$button-height: 50px; 
$features-icon-size: 83px; 
$demo-blue: #DCF0F1; 
$demo-green: #DFF5D5; 
$icon-size: 150px; 



.home-page {
  &__form {    
    display: flex; 
    justify-content: center; 

    &-container { 
      flex-grow: 2; 
      margin: 40px auto; 
      display: flex; 
      flex-flow: row; 
      width: 100%; 
    }

    &-input { 
      width: 100%;
      max-width: 350px;  
      height: $button-height; 
      color: black; 
      border: 0px solid white; 
      
    }
  }

  &__button { 
    display: flex; 
    flex-flow: row wrap; 
    justify-content: center;
    align-content: center;
    font-family: 'Calibre Test', 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    height: $button-height; 
    width: 200px; 
    background: black; 
    color: white; 
    border: 0px solid white; 
    text-transform: uppercase;
  }

  &__header {
    @media screen and (max-width: 400px) {
      font-size: 60px; 
    }
    font-size: 80px; 
    color: white;
    font-family: "Helvetica";
    font-style: oblique; 
    font-weight: 100;  
    flex-grow: 1; 
    display: flex; 
    flex-direction: row;
    justify-content: center; 
    align-items: flex-end; 
  }



  &-works {
    width: 100%;

    &__header { 
      font-family: "Helvetica";
      width: 100%; 
      text-align: center;
      font-size: 32px; 
      margin: 130px auto 60px; 
      color: black; 
    }

    &__container {
      display: flex; 
      flex-flow: row-wrap; 
      width: 100%; 
      justify-content: space-evenly;
      align-items: center;
      margin: auto auto 130px; 
    }

    &__item { 
      width: 100%; 
    }

    &__icon { 
      display: flex; 
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      color: white; 
      font-size: 40px; 
      background-color: $demo-blue; 
      width: $icon-size; 
      height: $icon-size;  
      border-radius: $icon-size;
      margin: auto; 
      @media screen and (max-width: 600px) {
        width: 100px; 
        height: 100px; 
      }
    }

    &__title {
      margin: 10px auto; 
      font-size: 16px;
      font-weight: 500; 
      text-align: center;
    }

    &__body {
      margin: auto; 
      width: 80%; 
      font-size: 14px; 
      text-align: center; 
    }
  }

  &-features { 
    display: flex; 
    flex-flow: column wrap; 
    align-content: center;
    width: 100%; 
    background-color: $demo-green;
    padding-bottom: 40px;

    &__row {
      display: flex; 
      flex-flow: row wrap; 
      align-content: center;
      justify-content: center;
    }

    &__blurb {
      margin: 20px; 
      display: flex; 
      flex-flow: row wrap; 
      align-content: center;
      justify-content: center;
    }

    &__icon {
      background-color: black; 
      border-radius: $features-icon-size; 
      width: $features-icon-size; 
      height: $features-icon-size; 
      margin-right: 10px;  
    }

    &__text {

      max-width: 330px; 
      display: flex; 
      flex-flow: column wrap; 
      align-content: flex-start;
    }
    
    &__header {
      @extend .home-page-works__header; 
      margin-top: 60px; 
    }
  }

  &-footer {
    width: 100%; 
    display: flex; 
    flex-flow: column; 
    justify-content: center;
    align-items: center;

    &__message {
      font-size: 36px; 
      font-weight: 400; 
      width: 50%; 
      text-align: center;
      margin-bottom: 20px; 
    }
  }
}
  

