{% extends "base.html" %}
{% load static %}

{% block title %} Create dealer {% endblock title %}

{% block banner %}
<div class="banner" alt="logo">
    <div class="header">Join our network.</div>
    <div class="dealer-banner__container">
        <a href="{% url 'dealers:create' %}"><button class="banner__button"> Add Dealer </button></a>
        <a href="{% url 'dealers:verify' %}"><button class="banner__button"> Add Sales </button></a>
        <a href="#"><button class="banner__button"> Start an Order </button></a> {% comment %} TODO: Add href to create job {% endcomment %}
    </div> 

</div> 
{% endblock banner %}