{% extends "base.html" %}
{% load static %}

{% block title %} Create dealer {% endblock title %}

{% block scss %} {% static 'css/pages/home.css' %} {% endblock scss%}

{% block banner %}
<div class="home-page__banner" alt="logo">
    <div class="header">Rethink Charging.</div>
    <div class="home-page__banner__container">
        <button class="home-page__banner__button"> Plug In </button> 
    </div> 

</div> 
{% endblock banner %}

{% block content %}
    <a href="{% url 'dealer-network'%}"> <button> Add Dealer </button> </a>
    <div class="messages">
        <div class="message">
            <div class="message__icon">
            </div>
            <div class="message-body__container">
                <div class="message-body__title">save time</div>
                <div class="message-body">
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut 
                </div>
            </div>
        </div>

        <div class="message">
            <div class="message-body__container">
                <div class="message-body__title">circuits are complicated</div>
                <div class="message-body">
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliqui
                </div>
            </div>
             <div class="message__icon">
            </div>
        </div>
    </div>
{% endblock content %}
