{% extends "base.html" %}
{% load static %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}
  <div class="container">
        <h2>Hi {{ object.username }}</h2>
        {% if object.name %}
          <p>{{ object.name }}</p>
        {% endif %}


        <div>You're connected to: {{object.dealership.name}}</div>

        {% if request.user.dealership.admin == request.user %} 
          <a href="{% url 'dealers:verify'%}"><button class="btn btn-primary"> Add an associate </button></a> 
          <a href="#" class="btn btn-danger">Coming soon: Statistics</a>
        {% endif %}

        {% if request.user.sales == True %} <a href="{% url 'users:add-customer' %}" class="btn btn-primary"> Add a customer and start their job </a>{% endif %}

  </div>

{% if object == request.user %}
<!-- Action buttons -->
    <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">My Info</a>
    <a class="btn btn-primary" href="{% url 'account_email' %}" role="button">E-Mail</a>
    <!-- Your Stuff: Custom user template urls -->
<!-- End Action buttons -->
{% endif %}


</div>
{% endblock content %}

