// project specific CSS goes here

////////////////////////////////
		//Variables//
////////////////////////////////

// Alert colors

$white: #fff;
$mint-green: #d6e9c6;
$black: #000;
$pink: #f2dede;
$dark-pink: #eed3d7;
$red: #b94a48;

////////////////////////////////
		//Alerts//
////////////////////////////////

// bootstrap alert CSS, translated to the django-standard levels of
// debug, info, success, warning, error

.alert-debug {
  background-color: $white;
  border-color: $mint-green;
  color: $black;
}

.alert-error {
  background-color: $pink;
  border-color: $dark-pink;
  color: $red;
}

.base-content {
  margin: auto; 
  display:flex; 
  width: 80%; 
  flex-flow: row wrap; 
}

.page { 
  &-header {
    align-content: flex-start;
    font-size: 32px; 
  }
}

.form {
  display: flex; 
  flex-flow: column wrap; 
  align-content: center;

  &-header {
    align-content: flex-start;
    font-size: 20px; 
    margin-bottom: 20px; 
  }

  &-message {
    margin: auto; 
    align-content: center;
    justify-content: center;
  }

  &-container {
    padding: 30px; 
    margin: 20px auto; 
    display: flex; 
    flex-flow: column wrap; 
    max-width: 1000px; 
    width: 80%; 
    align-content: center;
    border-radius: 20px;
    background-color: #f2f2f2; 
    box-shadow: 0 2px 3px #d3d3d3;  
  }
}

form {
  width: 100%; 
}

ul {
  margin: .5rem; 
}