$white: #fff;
$mint-green: #d6e9c6;
$black: #000;
$pink: #f2dede;
$dark-pink: #eed3d7;
$red: #b94a48;

html, body
{
    height: 100%;
}

.alert-debug {
  background-color: $white;
  border-color: $mint-green;
  color: $black;
}

.alert-error {
  background-color: $pink;
  border-color: $dark-pink;
  color: $red;
}

.base-content {
  margin: auto; 
  display:flex; 
  width: 80%; 
  flex-flow: row wrap; 
}

.page { 
  &-header {
    align-content: flex-start;
    font-size: 32px; 
  }
}

.form {
  display: flex; 
  flex-flow: column wrap; 
  align-content: center;

  &-header {
    align-content: flex-start;
    font-size: 20px; 
    margin-bottom: 20px; 
  }

  &-message {
    margin: auto; 
    align-content: center;
    justify-content: center;
  }

  &-container {
    padding: 30px; 
    margin: 20px auto; 
    display: flex; 
    flex-flow: column wrap; 
    max-width: 1000px; 
    width: 80%; 
    align-content: center;
    border-radius: 20px;
    background-color: #f2f2f2; 
    box-shadow: 0 2px 3px #d3d3d3;  
  }
}

form {
  width: 100%; 
}

ul {
  margin: .5rem; 
}

.nav-logo { 
  height: 60px;
}

.dealer-banner__container {
  display: flex; 
  flex-flow: row wrap;
  justify-content: space-evenly; 
  align-content: center;
  align-items: center;
  flex-grow: 2; 
}

.nav {
  display:flex; 
  flex-flow: row wrap; 
  align-content: center;

  &-logo-container { 
    align-content: center;
  }
}

.messages { 
  max-width: 1140px; 
  display: flex; 
  flex-direction: column; 
  align-content: center; 
}

.message { 
  display:flex; 
  flex-flow: row wrap;  
  align-content: center;
  justify-content: center;
  margin-top: 64px;

  &-body {
    display: flow;
    flex-flow: row wrap; 
    text-overflow: inherit;
    &__title {
      margin: auto; 
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      text-align: center; 
      font-size: 40px;
      font-weight: 500;
    }

    &__container {
      min-width: 200px; 
      width: 1%; 
      display: flex;
      align-content: center;
      flex-direction: column;
      flex-grow: 6;
      text-align: center;
      margin: 20px; 
    }
  }

  &__body-container { 
    width:100%; 
    text-align: center;
    margin: 20px; 
  }

  &__icon {
    width: 200px; 
    height: 200px; 
    border: 1px solid black; 
  }
}

.sales-user { 
  padding: 10px;  
  display: flex; 
  flex-flow: row wrap; 
  align-content:center; 
  justify-content: space-between;
  margin-bottom: 10px; 
  border: 1px solid gray; 
  height: 50px; 
  border-radius: 5px; 
}