.alert-debug {
  background-color: #fff;
  border-color: #d6e9c6;
  color: #000; }

.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48; }

.base-content {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap; }

.page-header {
  -ms-flex-line-pack: start;
      align-content: flex-start;
  font-size: 32px; }

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -ms-flex-line-pack: center;
      align-content: center; }
  .form-header {
    -ms-flex-line-pack: start;
        align-content: flex-start;
    font-size: 20px;
    margin-bottom: 20px; }
  .form-message {
    margin: auto;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .form-container {
    padding: 30px;
    margin: 20px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    max-width: 1000px;
    width: 80%;
    -ms-flex-line-pack: center;
        align-content: center;
    border-radius: 20px;
    background-color: #f2f2f2;
    -webkit-box-shadow: 0 2px 3px #d3d3d3;
            box-shadow: 0 2px 3px #d3d3d3; }

form {
  width: 100%; }

ul {
  margin: 8px;
  margin: .5rem; }
